<div class="container mt-5 p-3  mb-5 w-50" style="height: 600px; background-color: rgb(94, 138, 179);">
    <img class="w-100" src="https://i.postimg.cc/QxtFxN19/bg-head-02.jpg" alt="">
    <h3 class="text-center" style="color: rgb(44, 73, 159)">SignUp</h3>
      <form  class="w-50 container text-center" style="margin-left: 25%;">
          <input id="a" style="border-radius: 30px;" name="a" class="form-control p-2 mt-3" type="text" placeholder="Account number">
          <input id="u" style="border-radius: 30px;" name="b" class="form-control p-2 mt-3" type="password" placeholder="Username">
          <input id="p" style="border-radius: 30px;" name="a" class="form-control p-2 mt-3" type="text" placeholder="Password">
          <input id="cp" style="border-radius: 30px;" name="b" class="form-control p-2 mt-3" type="password" placeholder="Confirm Password">
  
          <button (click)="signup()" style="border-radius: 30px; background-color: rgb(22, 22, 57); margin-left: 5%; "  type="button" class="btn  pt-2 mt-3 w-50 text-center text-light container">Submit</button><br>
      
      </form>
    </div>